.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
}

.Timer {
  margin: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .Timer {
    width: calc(100% - 6px);
  }
}

.TimeDisplay {
  padding-top: 25%;
  padding-bottom: 25%;
  flex: 1;
  background-color: rgb(43, 128, 226);
  width: 100%;
  color: white;
  font-size: 80px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Buttons {
  display: flex;
  flex-direction: row;
  background-color: rgb(43, 128, 226);
  margin-top: 5px;
  padding: 0px 2px;
  border-radius: 5px;
}

.TimerButton {
  flex: 1;
  margin: 4px 2px;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(43, 128, 226);
  font-weight: 500;
  cursor: pointer;
}
